<div class="toughts-form-container">
  <a href="/toughts/dashboard">Voltar</a>
  <h1>Novo Pensamento:</h1>
  <form action="/toughts/add" method="POST">
    <div class="form-control">
      <label for="tought">Pensamento:</label>
      <input type="text" name="tought" id="tought" placeholder="Digite o seu pensamento..">
    </div>
    <input type="submit" value="Criar Pensamento" class="btn">
  </form>
</div>