<div class="toughts-form-container">
  <a href="/toughts/dashboard">Voltar</a>
  <h1>Editar Pensamento:</h1>
  <form action="/toughts/edit" method="POST">
    <input type="hidden" name="id" value="{{tought._id}}">
    <div class="form-control">
      <label for="tought">Pensamento:</label>
      <input type="text" name="tought" id="tought" placeholder="Digite o seu pensamento.." value="{{tought.title}}">
    </div>
    <input type="submit" value="Editar" class="btn">
  </form>
</div>