<div class="auth-container">
  <h2>Entrar</h2>
  <form action="/login" method="POST">
    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Digite seu email">
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" id="password" placeholder="Digite sua senha">
    </div>
    <input type="submit" value="Entrar" class="btn">
    <p>Não tem uma conta? <a href="/register">Registre-se</a></p>
  </form>
</div>